<app-navbar></app-navbar>
  
<div class="hero-image">
    <div class="hero-text">
      <h1>Welcome to My App</h1>
      <h1>Sale Prediction Application</h1>
      <p>Please login or signup to continue</p>
      <button mat-raised-button color="primary" routerLink="login">Get Started...!</button>
    </div>
  </div>
  
  <div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="text">About My App</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="subtext">This is the front page of My App. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nunc eget ipsum maximus sodales. Phasellus feugiat ex in lacus viverra, sed tincidunt neque bibendum. Sed suscipit lacus sit amet mi efficitur, quis facilisis ipsum maximus.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <app-footer></app-footer>
  