<div class="about">
    <img src="../../../../assets/main.jpg" alt="about-image">
    <div class="about-text">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis semper turpis. Integer lacinia quam vitae dui rutrum, at consequat libero congue. Fusce viverra nunc ipsum, eu sagittis mauris volutpat non. Aenean facilisis mauris vel ante elementum faucibus. Sed rhoncus, velit a feugiat malesuada, quam enim feugiat leo, ut molestie turpis ex vitae orci.</p>
      <a>learn more...</a>
    </div>
  </div>
  